<%= image_tag "smile.jpg", id: 'top' %>

<div class='ranking-wrapper'>

  <div id='question-title'>あなたの価値観とマッチする企業は...</div>

  <div class='ranking-wrappers clearfix'>
    <div class='ranking-wrapper_left'>
      <p><%= image_tag "one.png", id: 'rank_one'%>株式会社リブセンス</p>
      <p>マッチ度：90％</p>
      <p>今すぐ応募すべきです！</p>
    </div>
    <div class='ranking-wrapper_right'>
      <%= image_tag "livesense.png", id: 'top' %>
    </div>
  </div>
</div>